{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions"
          ]
        }
      }
    ],
    "react",
    "react-boilerplate"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "utils": "./src/utils",
          "components": "./src/components",
          "containers": "./src/containers",
          "routes": "./src/routes",
          "store": "./src/store"
        }
      }
    ],
    "emotion"
  ]
}